

<div class="loading">
  <h1 class="logo"><span>/</span>downtime</h1>
  <h3 class="strapline"><span class="element"></span></h3>
</div>


<div class="content" style="background-image:url('<%= asset_path "test.png" %>');">

  <div class="camera__info">
    <p class="camera__rec">REC</p>
    <div class="camera__clock js-clock"></div>
  </div>

</div>

