


/* --------------------------------------- *\
  #downtime camera feed
\* --------------------------------------- */

.camera__info {
  position: fixed;
  bottom: 50px;
  right: 50px;
  padding: 10px;
  text-shadow: 0 0 2px $black;
  color: $white;
}
.camera__rec {
  margin: 0;
  color: $white;
  line-height: 1em;

  &:before {
    content: "";
    width: 1em;
    height: 1em;
    display: inline-block;
    background: $danger-colour;
    border-radius: 50%;
    animation: blink 2s infinite;
    box-shadow: 0 0 2px $danger-colour;
    position: relative;
    margin-right: 5px;
    top: 2px;
  }
}