


/* --------------------------------------- *\
  #Typed.js
\* --------------------------------------- */

.typed-cursor{
  opacity: 0;
  color: $primary-colour;
  font-weight: 800;
  animation: blink 0.7s infinite 1.2s;
}
@keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}