


/* --------------------------------------- *\
  #Typed.js
\* --------------------------------------- */

.typed-cursor{
  opacity: 0;
  color: $primary-colour;
  font-weight: 800;
  animation: blink 0.9s infinite 1.2s;
}